# System Setup

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv
import numpy
import io
import nbformat

# File to Load (Remember to Change These)
file_loaded = r"C:\\Users\\walla\\Pandas_Challenge\\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_loaded, delimiter=",")

# Players

In [2]:
#number of players
unique_players =  purchase_data_df["SN"].unique()
count_unique_players = len(purchase_data_df["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[count_unique_players]})
player_count

   Total Players
0            576

# Items puchased

In [3]:
# Calculations for unique items, average price, purchase count, and revenue
number_of_unique_items = len((purchase_data_df["Item ID"]).unique())
average_price = (purchase_data_df["Price"]).mean()
number_of_purchases = (purchase_data_df["Purchase ID"]).count()
total_revenue = (purchase_data_df["Price"]).sum()

# Create data frame with obtained values
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Format with currency style
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [4]:
# Create new data frame with items related information 
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top 5 sold item
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

# Gender Breakdown

In [5]:
#purchases by gender
gender_df = purchase_data_df[["Gender","Item ID"]]
gender_group = gender_df.groupby(["Gender"])
gender_count = gender_group.count()

#Total Amount of purchases by gender
gender_df = purchase_data_df[["Gender","Price"]]
gender_group = gender_df.groupby(["Gender"])
gender_sum = gender_group.sum("Price")

#Average Amount of purchases by gender
gender_df = purchase_data_df[["Gender","Price"]]
gender_group = gender_df.groupby(["Gender"])
gender_average = gender_group.mean("Price")
gender_average = round(gender_average,2)

# Percentage of Gender Demographics
player_group = purchase_data_df[["SN", "Gender"]]
player_info_df = purchase_data_df.groupby(["SN", "Gender"])["Age"].count()

gender_df = player_info_df.groupby(["Gender"])
gender_count = gender_df.count()

gender_percent_df =  round((gender_df.count()/count_unique_players)*100,2)

gender_demographics = pd.DataFrame({"Total Purchases": gender_count, "Percentage of Players": gender_percent_df })

gender_demographics

                       Total Purchases  Percentage of Players
Gender
Female                              81                  14.06
Male                               484                  84.03
Other / Non-Disclosed               11                   1.91

# Average Purchase per gender

In [6]:
#Average Amount of purchases by gender
gender_df = purchase_data_df[["Gender","Price"]]
gender_group = gender_df.groupby(["Gender"])
gender_average = gender_group.mean("Price")
gender_average = round(gender_average,2)
gender_average

                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

# Top Player Breakdown by amount purchased

In [7]:
# Group purchase data by screen names
spender_stats = purchase_data_df.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# total amount bought 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

# Age Breakdown

In [8]:
#Age Purchases
age_bins = [0, 18, 24, 35, 50]
age_range = ["kids", "young adult", "adult", "over the hill"]

#label
purchase_data_df["age_range"] = pd.cut(purchase_data_df["Age"],age_bins, labels=age_range, include_lowest=True)
purchase_data_df

#table age_range
table_age = purchase_data_df[["age_range","Price"]]

#Num of Purchase by age range
age_group = table_age.groupby(["age_range"])
age_count = age_group.count()

#$ of Purchase by age range
age_group = table_age.groupby(["age_range"])
age_amount = age_group.sum()
age_avg_amount = age_group.mean()

#Breakdown of purchases by age group
print ("Breakdown for # of purchases by age group: ", str(age_count))
print()
print ("Breakdown for Total purchase $ by age group: ", str(age_amount))
print()
print ("Breakdown for Average purchase $ by age group: ", str(age_avg_amount))
print()

Breakdown for # of purchases by age group:                 Price
age_range
kids             164
young adult      388
adult            188
over the hill     40

Breakdown for Total purchase $ by age group:                   Price
age_range
kids            502.82
young adult    1184.04
adult           559.03
over the hill   133.88

Breakdown for Average purchase $ by age group:                    Price
age_range
kids           3.065976
young adult    3.051649
adult          2.973564
over the hill  3.347000