In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv
import numpy
import io
import nbformat

# File to Load (Remember to Change These)
file_loaded = r"C:\\Users\\walla\\Pandas_Challenge\\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_loaded, delimiter=",")

In [2]:
#number of purchase
Num_purchase = len(purchase_data_df["Purchase ID"].value_counts())

#average price
average_price = purchase_data_df["Price"].mean()
Avg_price = round(average_price,2)

#Total revenue
Total_Purchase = purchase_data_df["Price"].sum()
Total_Revenue = round(Total_Purchase,2)

#number of items
unique_items =  purchase_data_df["Item Name"].unique()
count_unique_items = len(purchase_data_df["Item Name"].value_counts())

#Summary of purchases
print ("Number of items for sale: ", str(count_unique_items))
print ("Number of purchases: ", str(Num_purchase))
print ("Average price of products: $", str(Avg_price))
print ("Total products sold: $", str(Total_Revenue))

Number of items for sale:  179
Number of purchases:  780
Average price of products: $ 3.05
Total products sold: $ 2379.77

In [3]:
#purchases by gender
gender_df = purchase_data_df[["Gender","Item ID"]]
gender_group = gender_df.groupby(["Gender"])
gender_count = gender_group.count()

#Total Amount of purchases by gender
gender_df = purchase_data_df[["Gender","Price"]]
gender_group = gender_df.groupby(["Gender"])
gender_sum = gender_group.sum("Price")

#Average Amount of purchases by gender
gender_df = purchase_data_df[["Gender","Price"]]
gender_group = gender_df.groupby(["Gender"])
gender_average = gender_group.mean("Price")
gender_average = round(gender_average,2)

print ("Number of purchases by gender: ", (gender_count))
print()
print ("Total Amount of purchases by gender: ", (gender_sum))
print()
print ("Average Amount of purchases by gender: $", (gender_average))

Number of purchases by gender:                         Item ID
Gender
Female                     113
Male                       652
Other / Non-Disclosed       15

Total Amount of purchases by gender:                           Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

Average Amount of purchases by gender: $                        Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

In [4]:
#Age Purchases
age_bins = [0, 18, 24, 35, 50]
age_range = ["kids", "young adult", "adult", "over the hill"]

#label
purchase_data_df["age_range"] = pd.cut(purchase_data_df["Age"],age_bins, labels=age_range, include_lowest=True)
purchase_data_df

#table age_range
table_age = purchase_data_df[["age_range","Price"]]

#Num of Purchase by age range
age_group = table_age.groupby(["age_range"])
age_count = age_group.count()

#$ of Purchase by age range
age_group = table_age.groupby(["age_range"])
age_amount = age_group.sum()

#Breakdown of purchases by age group
print ("Breakdown for # of purchases by age group: ", str(age_count))
print()
print ("Breakdown for $ of purchases by age group: ", str(age_amount))
print()

Breakdown for # of purchases by age group:                 Price
age_range
kids             164
young adult      388
adult            188
over the hill     40

Breakdown for $ of purchases by age group:                   Price
age_range
kids            502.82
young adult    1184.04
adult           559.03
over the hill   133.88

In [5]:
#purchases by participant
participant_df = purchase_data_df[["SN","Price"]]
participant_group = participant_df.groupby(["SN"])
participant_count = participant_group.count()
participant_sum = participant_group.sum()
participant_avg = participant_group.mean()
avg_participant_purchase = round(participant_avg,2)

#Breakdown of purchases by participant
print ("Breakdown for # of purchases by participant: ", str(participant_count))
print()
print ("Breakdown for $ of purchases by participant: ", str(participant_sum))
print()
print ("Breakdown of purchase average by participant: ", str(avg_participant_purchase))
print()

Breakdown for # of purchases by participant:                 Price
SN
Adairialis76       1
Adastirin33        1
Aeda94             1
Aela59             1
Aelaria33          1
...              ...
Yathecal82         3
Yathedeu43         2
Yoishirrala98      1
Zhisrisu83         2
Zontibe81          3

[576 rows x 1 columns]

Breakdown for $ of purchases by participant:                 Price
SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
...              ...
Yathecal82      6.22
Yathedeu43      6.02
Yoishirrala98   4.58
Zhisrisu83      7.89
Zontibe81       8.03

[576 rows x 1 columns]

Breakdown of purchase average by participant:                 Price
SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
...              ...
Yathecal82      2.07
Yathedeu43      3.01
Yoishirrala98   4.58
Zhisrisu83      3.94
Zontibe81       2.68

[576 rows x 1 columns]

In [6]:
#purchases by gender
item_df = purchase_data_df[["Item Name","Price"]]
item_group = item_df.groupby(["Item Name"])
item_count = item_group.count()
item_sum = item_group.sum()

#Breakdown of purchases by participant
print ("Breakdown of items sold: ", str(item_count))
print()
print ("Breakdown of item sold: $", str(item_sum))
print()

Breakdown of items sold:                                   Price
Item Name
Abyssal Shard                        5
Aetherius, Boon of the Blessed       5
Agatha                               6
Alpha                                3
Alpha, Oath of Zeal                  3
...                                ...
Wolf                                 8
Wolf, Promise of the Moonwalker      6
Worldbreaker                         4
Yearning Crusher                     3
Yearning Mageblade                   5

[179 rows x 1 columns]

Breakdown of item sold: $                                  Price
Item Name
Abyssal Shard                    13.35
Aetherius, Boon of the Blessed   16.95
Agatha                           18.48
Alpha                             6.21
Alpha, Oath of Zeal              12.15
...                                ...
Wolf                             28.32
Wolf, Promise of the Moonwalker  26.88
Worldbreaker                     10.40
Yearning Crusher                 12.54
Yearning Mageblade               19.10

[179 rows x 1 columns]